.gold {
    color: #fcd34d;
}

.txt {
    font-family: "HackRegular";
}

.skills{
    display: flex;
    gap: 1rem;
    p{
        color: #fcd34d;
        background-color: #fcd34d70;
        padding: 0.25rem 1rem;
        border-radius: 1rem;
        font-size: 0.75rem;
        letter-spacing: 1px;
    }
}

.education-card:hover, .work-card:hover{
    background-color: rgba(0,0,0,0.1);
    border-radius: 10px;
}

.work-card:hover{
    cursor: pointer;
}

.git-img{
    content: url('../src/assets/icons/github.png');
}

.git-img:hover{
    content: url('../src/assets/icons/github-g.png');
}

.linkedin-img{
    content: url('../src/assets/icons/linkedin.png');
}

.linkedin-img:hover{
    content: url('../src/assets/icons/linkedin-g.png');
}

.leetcode-img{
    content: url('../src/assets/icons/leetcode.png');
}

.leetcode-img:hover{
    content: url('../src/assets/icons/leetcode-g.png');
    width: 20rem;
}

.instagram-img{
    content: url('../src/assets/icons/instagram.png');
}

.instagram-img:hover{
    content: url('../src/assets/icons/instagram-g.png');
}

.mail-img{
    content: url('../src/assets/icons/email.png');
}

.mail-img:hover{
    content: url('../src/assets/icons/email-g.png');
}