@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "HackFont";
    src: url("../public/fonts/HackBold-Pdjd.ttf");
}
:root{
    background-color: #06402B;
}
#root{
    display: flex;
    justify-content: center;
    width: 100vw;

    color: #FDFEFE;
    font-family: 'HackFont';
}